@import 'login.scss';

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

@font-face {
  font-family: "LemonMilk";
  src: url("/font/LemonMilk.otf");
}

body{
  background-color: #314153; 
}

.container{
  padding: 0 !important;
  width:100%;
}

/*//////////////////////////////////////HEADER COMMUN/////////////////////////////////*/

header{
 	display: flex;
  	flex-direction: column;
  	margin-top: 10px;
	img{
  		margin-top: -20px;
  		margin-left: 25%;
  		width: 40%;
  		height: 40%;
	}
	h1{
  		color:  white;
  		font-family: "LemonMilk";
  		font-weight: bold;
  		font-size: 30px;
  		margin-top: -10px;	
	}
}

#background-header{
  	width: 110%;
  	height: 500px;
  	position: fixed;
  	margin-top: -50%;
  	margin-left: -20px;
  	z-index: -1;
}

/*//////////////////////////////////////FOOTER COMMUN/////////////////////////////////*/

.deco-btn{
	margin-top:6%;
	padding:4%;
	background-color: #00C0A5;
	a{
		color: white;
		font-size: 2em;
	}
}

.icone-deconnexion{
	width: 12%;
	margin-right:5%;
}

/*//////////////////////PAGE PROFIL/////////////////////////////*/

/* Accueil */

#profil{
  	height: 160px;
  	background-color: #0DC7A7;
  	margin-top: -15%;
}

#img-profil{
	width:100px;
	height:100px;
  	position: relative;
  	top: -50px;
  	left: 25px;
}

#profil h2{
  	color: white;
  	margin-top: -100px;
  	padding-top: 10px;
  	text-align: center;
  	font-size: 25px;
}

#artiste-head{
  	color: white;
  	margin-top: 25px;
  	margin-left: 30px;
}

#artiste-head h3{
  	font-size: 15px;
  	margin-top: -5px;
}

#img-contact{
  	width: 100px;
  	
}

/*Grandes icones de navigation*/

.icones{                      
  	background-color: #0DC7A7;
  	width: 130px;
  	height: 130px;
  	margin-top: 15px;
  	border-radius: 5px;
  	img{
  		margin-top: 20px;
  		margin-left: 5px;
	}
}

.liste-icone{
  	width: 100%;
  	margin-top: 10px;
}

/*//////////////////////PAGE AJOUT/////////////////////////////*/

.formShare{
	max-width: 100%;
	background-color:#0DC7A7;
	padding: 20px;
	margin-top:-20%;
	
}

.format{
	[type="radio"]:not(:checked) + .iconeCassette,  //Le label devient une image
	[type="radio"]:checked + .iconeCassette {
		content: url(../img/cass.png);  
  		position: relative;  
  		cursor: pointer; 
  		width:30%;
  		margin-bottom: 5%;  
	}
	[type="radio"]:not(:checked) + .iconeCd,
	[type="radio"]:checked + .iconeCd {
		content: url(../img/cd.png);
  		position: relative;  
  		cursor: pointer; 
  		width:30%;
  		margin-bottom: 5%;   
	}
	[type="radio"]:not(:checked) + .iconeVinyle,
	[type="radio"]:checked + .iconeVinyle {
		content: url(../img/vinyle.png);
  		position: relative;  
  		cursor: pointer; 
  		width:30%;
  		margin-bottom: 5%;   
	}
	[type="radio"]:not(:checked),             //Cache les boutons radio
	[type="radio"]:checked {
  		position: absolute;
  		left: -9999px;
	}
	[type="radio"]:not(:checked) + label:after {
  		opacity: 1; 
	}
	[type="checkbox"]:checked + label:after {
  		opacity: 0.2; 
	}

}

.radioEchange{
	position:relative;
}
.radioEchange input[type="radio"] {
    visibility: hidden; 
	position: absolute; top: 0; left: 0;
}
.radioEchange input[type="radio"] + label {
     padding: 4px 0 0 24px;
}
.radioEchange input[type="radio"] + label:before {
    content: " ";
	display: inline-block; width: 20px; height: 20px;
    background: transparent url(../img/sprite.svg) 0 -30px no-repeat;
}
.radioEchange input[type="radio"]:checked + label:before {
	background-position: -30px -30px;
}


.icone-choix{
	width:70%;
}

.btnEnvoi{
  	text-transform: uppercase;
  	background: #ffffff;
  	width: 100%;
  	border: 0;
  	margin-top: 25px;
  	padding: 15px;
  	color: #00C0A5;
  	font-size: 14px;
  	font-weight: 700;
  	cursor: pointer;
}	

/*//////////////////////PAGE RECHERCHE/////////////////////////////*/

#formSearch{
	margin-top:-25%;
	h2{
		color:#00C0A5; 
	}
}

