@import 'login.scss';

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

@font-face {
  font-family: "LemonMilk";
  src: url("/font/LemonMilk.otf");
}

body{
  background-color: #314153; 
}

.container{
  padding: 0 !important;
  width:100%;
}

h2{
  color: #0DC7A7;
  font-weight: 700;
  margin-bottom: 5%;
}

/*//////////////////////////////////////HEADER COMMUN/////////////////////////////////*/

header{
 	display: flex;
  	flex-direction: column;
  	margin-top: 10px;
	img{
  		margin-top: -20px;
  		margin-left: 25%;
  		width: 40%;
  		height: 40%;
	}
	h1{
  		color:  white;
  		font-family: "LemonMilk";
  		font-weight: bold;
  		font-size: 30px;
  		margin-top: -10px;	
	}
}

#background-header{
  	width: 110%;
  	height: 500px;
  	position: fixed;
  	margin-top: -50%;
  	margin-left: -20px;
  	z-index: -1;
}

/*//////////////////////////////////////FOOTER COMMUN/////////////////////////////////*/

.deco-btn{
	margin-top:6%;
	padding:4%;
	background-color: #00C0A5;
	a{
		color: white;
		font-size: 2em;
	}
}

.icone-deconnexion{
	width: 12%;
	margin-right:5%;
}

/*//////////////////////PAGE PROFIL/////////////////////////////*/

/* Accueil */

#profil{
  	height: 160px;
  	background-color: #0DC7A7;
  	margin-top: -15%;
}

#img-profil{
	width:100px;
	height:100px;
  	position: relative;
  	top: -50px;
  	left: 25px;
}

#profil h2{
  	color: white;
  	margin-top: -100px;
  	padding-top: 10px;
  	text-align: center;
  	font-size: 25px;
}

#artiste-head{
  	color: white;
  	margin-top: 25px;
  	margin-left: 30px;
}

#artiste-head h3{
  	font-size: 15px;
  	margin-top: -5px;
}

#img-contact{
  	width: 100px;
  	
}

/*Grandes icones de navigation*/

.icones{                      
  	background-color: #0DC7A7;
  	width: 130px;
  	height: 130px;
  	margin-top: 15px;
  	border-radius: 5px;
  	img{
  		margin-top: 20px;
  		margin-left: 5px;
	}
}

.liste-icone{
  	width: 100%;
  	margin-top: 10px;
}

/*//////////////////////PAGE LISTING/////////////////////////////*/

#listing{                           
  padding:5%;
  margin-top: -18%;
  background-color:white;
  .table > thead > tr > th {
    border-bottom: 4px solid #0DC7A7;
  }
}

/*//////////////////////PAGE AJOUT/////////////////////////////*/

.formShare{
	max-width: 100%;
	background-color:#0DC7A7;
	padding: 20px;
	margin-top:-20%;	
}
.format{
	display:flex;
}
.format input{                                         //Cache les boutons radio
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}
.iconeCassette{                                       //Icone des formats
	background-image:url(../img/cass.png);
}
.iconeCd{
	background-image:url(../img/cd.png);
}
.iconeVinyle{
	background-image:url(../img/vinyle.png);
}
.format input:checked + .iconeFormat{                //Affichage de l'icone lorsque l'on clic dessus
	-webkit-filter: none;
    -moz-filter: none;
    filter: none;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}
.iconeFormat{                                      
	cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    width:140px;height:80px;
}

.icone-choix{
	width:70%;
}

.btnEnvoi{
  	text-transform: uppercase;
  	background: #ffffff;
  	width: 100%;
  	border: 0;
  	margin-top: 25px;
  	padding: 15px;
  	color: #00C0A5;
  	font-size: 14px;
  	font-weight: 700;
}	

/*//////////////////////PAGE ECHANGE/////////////////////////////*/

#echange{
  margin-top: -18%;
}

.btn-echange{
  text-transform: uppercase;
  background: #0DC7A7;
  margin-top: 25px;
  padding: 15px;
  color: white;
  font-size: 14px;
  font-weight: 700;
}

/*////////////////PAGE REQUETE//////////////////*/

#requete{
  background-color:white;
  margin-top: -18%;
  padding:5%;
  h4{
    font-weight: 700;
  }
}

/*/////////////PAGE PARTAGES EN COURS///////////*/

#demandes{
  background-color:white;
  margin-top: -18%;
  padding:5%;
  h4{
    font-weight: 700;
  }
  hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(13, 199, 167, 0), rgba(13, 199, 167, 0.75), rgba(13, 199, 167, 0));
  }
}
/*//////////////////////PAGE RECHERCHE/////////////////////////////*/

#formSearch{
	background: #0DC7A7;
  max-width: 320px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	margin-top:-25%;
	margin-bottom:5%;
	input {
    font-family: "Roboto", sans-serif;
    background: #f2f2f2;
    border: 0;
    padding: 15px;
    font-size: 14px;
  	}
}

input[type="radio"]{
  	margin-right:10px;
  	margin-top: 10px;
}
