@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.page {
  width: 100%;
  margin: auto;
  text-align: center; }

#pageLogin {
  background-image: url("../img/fond.svg");
  background-size: cover;
  background-repeat: no-repeat; }

#logo {
  width: 60%; }

.login-titre {
  text-align: center;
  margin-bottom: 20px; }

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 320px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px; }

.btn {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #00C0A5;
  width: 100%;
  border: 0;
  margin-top: 25px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer; }

.form .btn:hover, .form .btn:active, .form .btn:focus {
  background: #00C0A5; }

.form .form-control:focus {
  border-color: #00C0A5;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #00c0a5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #00c0a5; }

@font-face {
  font-family: "LemonMilk";
  src: url("/font/LemonMilk.otf"); }
body {
  background-color: #314153; }

.container {
  padding: 0 !important;
  width: 100%; }

/*//////////////////////////////////////HEADER COMMUN/////////////////////////////////*/
header {
  display: flex;
  flex-direction: column;
  margin-top: 10px; }
  header img {
    margin-top: -20px;
    margin-left: 25%;
    width: 40%;
    height: 40%; }
  header h1 {
    color: white;
    font-family: "LemonMilk";
    font-weight: bold;
    font-size: 30px;
    margin-top: -10px; }

#background-header {
  width: 110%;
  height: 500px;
  position: fixed;
  margin-top: -50%;
  margin-left: -20px;
  z-index: -1; }

/*//////////////////////////////////////FOOTER COMMUN/////////////////////////////////*/
.deco-btn {
  margin-top: 6%;
  padding: 4%;
  background-color: #00C0A5; }
  .deco-btn a {
    color: white;
    font-size: 2em; }

.icone-deconnexion {
  width: 12%;
  margin-right: 5%; }

/*//////////////////////PAGE PROFIL/////////////////////////////*/
/* Accueil */
#profil {
  height: 160px;
  background-color: #0DC7A7;
  margin-top: -15%; }

#img-profil {
  width: 100px;
  height: 100px;
  position: relative;
  top: -50px;
  left: 25px; }

#profil h2 {
  color: white;
  margin-top: -100px;
  padding-top: 10px;
  text-align: center;
  font-size: 25px; }

#artiste-head {
  color: white;
  margin-top: 25px;
  margin-left: 30px; }

#artiste-head h3 {
  font-size: 15px;
  margin-top: -5px; }

#img-contact {
  width: 100px; }

/*Grandes icones de navigation*/
.icones {
  background-color: #0DC7A7;
  width: 130px;
  height: 130px;
  margin-top: 15px;
  border-radius: 5px; }
  .icones img {
    margin-top: 20px;
    margin-left: 5px; }

.liste-icone {
  width: 100%;
  margin-top: 10px; }

/*//////////////////////PAGE LISTING/////////////////////////////*/
#listing {
  padding: 5%;
  margin-top: -18%;
  background-color: white; }
  #listing .table > thead > tr > th {
    border-bottom: 4px solid #0DC7A7; }

/*//////////////////////PAGE AJOUT/////////////////////////////*/
.formShare {
  max-width: 100%;
  background-color: #0DC7A7;
  padding: 20px;
  margin-top: -20%; }

.format {
  display: flex; }

.format input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.iconeCassette {
  background-image: url(../img/cass.png); }

.iconeCd {
  background-image: url(../img/cd.png); }

.iconeVinyle {
  background-image: url(../img/vinyle.png); }

.format input:checked + .iconeFormat {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(0.7);
  filter: brightness(1.8) grayscale(1) opacity(0.7); }

.iconeFormat {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  width: 140px;
  height: 80px; }

.icone-choix {
  width: 70%; }

.btnEnvoi {
  text-transform: uppercase;
  background: #ffffff;
  width: 100%;
  border: 0;
  margin-top: 25px;
  padding: 15px;
  color: #00C0A5;
  font-size: 14px;
  font-weight: 700; }

/*//////////////////////PAGE ECHANGE/////////////////////////////*/
#echange {
  margin-top: -18%; }

.btn-echange {
  text-transform: uppercase;
  background: #0DC7A7;
  margin-top: 25px;
  padding: 15px;
  color: white;
  font-size: 14px;
  font-weight: 700; }

/*//////////////////////PAGE RECHERCHE/////////////////////////////*/
#formSearch {
  background: #FFFFFF;
  max-width: 320px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin-top: -25%;
  margin-bottom: 5%; }
  #formSearch input {
    font-family: "Roboto", sans-serif;
    background: #f2f2f2;
    border: 0;
    padding: 15px;
    font-size: 14px; }

input[type="radio"] {
  margin-right: 10px;
  margin-top: 10px; }
