@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.login-page {
  width: 360px;
  margin: auto;
  text-align: center; }

#pageLogin {
  background-image: url("../img/fond.svg");
  background-size: contain; }

body{
  background-color: #314153; 
}

/* Header */
header{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

#background-header{
  width: 100%;
  height: 500px;
  position: fixed;
  margin-top: -50%;
  z-index: -1;
  margin-left: -20px;
}

header img{
  margin-top: -20px;
  margin-left: 25%;
  width: 48%;
  height: 48%;
}

header h1{
  color:  #0DC7A7;
  font-size: 35px;
  margin-top: -20px;
  text-align: center;
  text-shadow: white 2px 2px, white -2px 1px, white -2px -2px, white 2px -2px;
  
}

#logo {
  width: 20%; }

.login-titre {
  text-align: center;
  margin-bottom: 20px; }

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px; }

.form .btn {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #00C0A5;
  width: 100%;
  border: 0;
  margin-top: 25px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer; }

.form .btn:hover, .form .btn:active, .form .btn:focus {
  background: #00C0A5; }

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px; }

.form .message a {
  color: #4CAF50;
  text-decoration: none; }

.form .register-form {
  display: none; }

.form .form-control:focus {
  border-color: #00C0A5;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #00c0a5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #00c0a5; }

@media (max-width: 420px) {
  #pageLogin {
    background-size: cover;
    background-repeat: no-repeat; }

  #logo {
    width: 70%; }

  .form {
    padding: 20px;
    max-width: 320px;
    margin-left: 0px; } }

/* Accueil */

#content-accueil{
  width: 100%;
}

#profil{
  width: 100%;
  height: 100px;
  margin-top: -50px;
  background-color: #0DC7A7;
  border-radius: 10px;
}

#profil img{
  width: 23%;
  height: 73%;
  margin-top: 15px;
  margin-left: 3px;
  border-radius: 50px;
}

#profil h2{
  color: white;
  margin-top: -80px;
  margin-left: 5px;
  text-align: center;
  font-size: 25px;
}

#profil h3{
  color: white;
  margin-left: 5px;
  font-size: 15px;
  margin-top: -10px;
  text-align: center;
}

#profil #img-contact{
  margin-top: -150px;
  margin-left: 215px;
  width: 50%;
  height: 50%;
}

#content-icone{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}

.liste-icone{
  width: 100%;
  display: flex;
  margin-top: 10px;
}